<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css" />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/base/base-min.css" />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/fonts/fonts-min.css" />
		<link rel="stylesheet" type="text/css" href="http://nexgenta.com/baird/screen.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="http://nexgenta.com/baird/print.css" media="print" />
		<title>Project Baird: {{ page.title }}</title>
	</head>
	<body class="draft">
		<div id="surround">
			<h1>{{ page.title }}</h1>
			<p id="contents"><a href="http://nexgenta.github.com/Baird/samples/">← back to samples</a></p>
			<div class="section">
				{{ content }}
			</div>
		</div>
		<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9096696-3");
pageTracker._trackPageview();
} catch(err) {}</script>
	</body>
</html>
